@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-primary: "Inter", Roboto, sans-serif;
  --primary-color: #4f46e5;
  --secondary-color: #eff5ff;
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  line-height: 1.2;
}

/* Header and Navigation */
header {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  background: white;
  padding: 1rem 0.5rem;
  z-index: 1000;
  box-shadow: var(--shadow-md);
  -webkit-box-shadow: 0 4px 15px rgba(128, 128, 128, 0.5);
  -moz-box-shadow: 0 4px 15px rgba(128, 128, 128, 0.5);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

nav ul li {
  letter-spacing: 0.5px;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  transition: 0.3s all;
  padding: 0.5rem;
}

nav ul li a:hover {
  color: var(--primary-color);
}

/* Util classes */

.btn {
  padding: 0.9rem 1.5rem;
  border-radius: 30px;
  border: 2px solid transparent;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid #4f46e5;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.4);
}

/* Hero Section */

.hero-content {
  background-color: var(--secondary-color);
  padding: 3rem 1rem;
}

.hero-content .hero-description {
  font-size: 1.125rem;
  color: #000;
  margin-bottom: 1.5rem;
  max-width: 600px;
}

.hero-content .stats-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  flex-wrap: wrap;
}

.hero-content .stats {
  /* border: 1px solid; */
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-content .stats .stat-count {
  font-size: 3rem;
  font-weight: 600;
  color: var(--primary-color);
}

.hero-upper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
}

.hero-upper .header-text {
  font-size: 0.875rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.hero-upper .sub-header-text {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.hero-upper .hero-text {
  flex: 1;
}

.hero-upper .hero-image {
  flex: 1;
  width: 100%;
  max-width: 250px;
  height: auto;
}

.hero-upper .hero-image img {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
  box-shadow: var(--shadow-md);
}

/* Skill Section */

.skills-content {
  padding: 4rem 1rem;
}

.skills-content .grid-container {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  /* align-items: center;
  justify-content: center; */
  /* padding: 1rem 0.5rem; */
  margin-top: 3rem;
  gap: 1.5rem;
  /* border: 1px solid; */
}

.grid-container .skill {
  width: 100%;
  height: 300px;
  background-color: #f9fafb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: var(--shadow-md);
  transition: 0.3s all;
  /* border: 1px solid; */
  /* box-shadow: 1px 2px #5e5b5bc9; */
}

.grid-container .skill:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-md);
}

.skill .skill-header-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.skill-header-container .skill-icon {
  font-size: 1.75rem;
  color: var(--primary-color);
}

.skill-header-container .skill-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.skills-list {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.skills-list li {
  padding: 0.25rem 0;
}

.content-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.content-header .skills-title {
  font-size: 2.25rem;
  font-weight: 700;
}

.content-header::after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.about-content {
  padding: 1rem;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.about-header::after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.about-header {
  color: #fff;
  font-size: 1.5rem;
}

.about-header .skills-title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #fff;
}

.content-header .header-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* About Section */

.about-content {
  background-color: var(--primary-color);
}

.about-me-text {
  width: 100%;
  max-width: 400px;
  font: 0.875rem;
  font-weight: 500;
  flex: 2;
  color: #fff;
}

.about-me-picture {
  flex: 1;
  max-width: 500px;
}

.about-me-picture .about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.about-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.link-container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: var(--shadow-md);
  transition: 0.3s all;
}

.link-container:hover {
  transform: scale(1.25);
}

.link-container i:first-child {
  font-size: 2rem;
  color: #000;
}

.linkedIn {
  color: #0a61bf;
}

/* Projects Section */
.projects-content {
  background: #f9fafb;
  padding: 1rem;
}

.project-filters {
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem 0;
}

.projects-grid-container {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 1rem;
  /* align-items: center; */
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 0.5rem;
}

.project-wrapper {
  width: 100%;
  /* max-width: 500px; */
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: var(--shadow-sm);
  transition: 0.3s all;
  cursor: pointer;
}

.project-type {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 600;
}

.project-type.web-development {
  background-color: #009353;
}

.project-type.data-visualization {
  background-color: var(--primary-color);
}

.project-wrapper:hover .project-image img {
  transform: scale(1.05);
  transition: 0.3s all;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.project-info .project-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.project-info .project-description {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 1rem;
}

.project-info .project-tech-stack {
  display: flex;
  gap: 0.5rem;

  flex-wrap: wrap;
}

.project-info .project-tech-stack span {
  font-size: 0.875rem;
  color: #666;
  background-color: #f9fafb;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  background-color: #f3f4f6;
  color: #000;
  transition: 0.3s all;
}

.project-info .project-tech-stack span:hover {
  background-color: #e5e7eb;
  transform: scale(1.05);
}

.project-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-md);
}

.filter-list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-list li:hover {
  background-color: rgba(78, 70, 229, 0.8);
  transform: scale(1.05);
}

.filter-list li {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s all;
}

/* Experience Section */

.experience-content {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.experience-timeline {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  align-items: start;
}

.experience-item-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  color: #fff;
  font-weight: 600;
  width: fit-content;
  max-width: 250px;
  background-color: var(--primary-color);
  box-shadow: var(--shadow-sm);
  transform: 0.2s ease, box-shadow 0.2s ease;
}

.experience-item-header:hover {
  transform: translateY(-2px);
}

.experience-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: fit-content;
  /* align-items: center; */
  /* justify-content: center; */
  /* border: 1px solid; */
}

.experience-wrapper {
  /* border: 1px solid; */
  margin-top: 1rem;
  border-radius: 12px;
  padding: 0.5rem;
  box-shadow: var(--shadow-md);
  background-color: #f9fafb;
}

.experience-box {
  width: 100%;
  min-width: unset;
  padding: 1rem;
  flex: 1;
}

.experience-date {
  font-size: 0.875rem;
  color: var(--primary-color);
  letter-spacing: 0.025rem;
  margin-bottom: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

.experience-degree {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  /* margin-bottom: 1rem; */
}

.experience-location {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.experience-container {
  /* border: 1px solid; */
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 1rem;
}
.timeline-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.timeline-circle {
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px var(--primary-color);
}

.timeline-line {
  width: 2px;
  height: 100%;
  margin-top: 0.5rem;
  max-height: 153px;
  background: var(--primary-color);
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    rgba(var(--primary-color-rgb, 59, 130, 246), 0.3) 100%
  );
  border-radius: 1px;
}

/* Contact Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background: rgb(0 0 0 / 80%);
  backdrop-filter: blur(12px);
}

.invalidCount {
  color: red;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  padding: 1rem;
  max-width: 90vw;
  min-height: 90vh;
  overflow-y: auto;
}
.modal-content {
  min-width: 500px;
  min-height: 400px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: var(--shadow-md);
  /* align-items: center; */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
  font-size: 1.2rem;
  color: #6779e4;
}

.modal-close-btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

.modal-close-btn i {
  font-size: 1.2rem;
  color: #4a5568;
}

.modal-close-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.modal-close-btn i:hover {
  color: #fff;
}

.form-group input {
  width: 100%;
  padding: 0.875rem;
  border-radius: 6px;
  border: 2px solid #e2e8f0;
  margin-top: 0.5rem;
  transition: border 0.3s ease-in;
}

.form-group input.error {
  border: 2px solid red;
  box-shadow: 0 0 4px rgba(229, 70, 70, 0.8);
  background: rgba(229, 62, 62, 0.05);
}

.invalid {
  color: red;
  font-size: 12px;
}

.valid {
  color: #009353;
  font-size: 12px;
}

.form-group textarea {
  width: 100%;
  max-height: 200px;
  resize: vertical;
  padding: 0.5rem;
  border-radius: 6px;
  margin-top: 0.5rem;
  border: 2px solid #e2e8f0;
}

.form-group textarea.error {
  border: 2px solid red;
  box-shadow: 0 0 4px rgba(229, 70, 70, 0.8);
  background: rgba(229, 62, 62, 0.05);
}

.form-group textarea::placeholder {
  font-size: 1rem;
  font-family: var(--font-primary);
}

.form-group input::placeholder {
  font-size: 0.9rem;
  font-family: var(--font-primary);
}

.form-group input:focus,
textarea:focus {
  box-shadow: 0 0 4px rgba(78, 70, 229, 0.8);
  outline: var(--primary-color);
  border: 2px solid #6779e4;
  transform: translateY(-4px);
  transition: 0.5s ease;
}

.form-group {
  display: block;
  margin: 1rem;
}
.form-group label {
  font-weight: 500;
  color: #4a5568;
}

.form-group label i {
  padding-right: 4px;
}

.form-group label .error-message {
  color: red;
}

.form-actions button {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  border: transparent;
  background: #4f46e5;
  background: linear-gradient(
    81deg,
    rgba(79, 70, 229, 1) 43%,
    rgba(90, 90, 232, 0.767) 100%
  );
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: var(--font-primary);
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.form-actions button:disabled {
  cursor: dis;
}

.form-actions button:hover {
  background-color: #4f46e5c9;
  box-shadow: 0 0 8px var(--primary-color);
  transition: 0.3s all;
  transform: translateY(-5px);
}

.textarea-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
}

.textarea-info.error {
  color: red;
}

.required {
  color: #ff0000;
}

.primary-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.btn-text {
  transition: opacity 0.3s ease-out;
}

.loading .btn-text {
  opacity: 0;
}

.loading .loading-spinner {
  opacity: 1;
}

/* Loading Spinner */

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #4f46e5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  opacity: 0;
}

/* Suceess state */
.success-state {
  text-align: center;
  display: none;
}

.success-state.show {
  display: block;
}

.success-title {
  font: 24px;
  font-weight: 700;
  color: #2d3748;
  margin-bottom: 12px;
}

.success-text {
  color: #718096;
  margin-bottom: 25px;
}

.reset-btn {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  background: #4f46e5;
  background: linear-gradient(
    81deg,
    rgba(79, 70, 229, 1) 43%,
    rgba(90, 90, 232, 0.767) 100%
  );
  color: #fff;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) (0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 768px) {
  .hero-upper .hero-image {
    margin-top: 1rem;
    max-width: 200px;
  }
  .hero-content .stats-container {
    flex-direction: column;
    gap: 1rem;
  }

  .skills-content .grid-container {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}
